{% extends 'movies/index.html' %}

{% block title %}
Информация о фильме
{% endblock %}

{% block body %}
<h1 class="mini-header">Информация о фильме<br>"{{ movie_link.title }}"</h1>
<div class="info-panel">
    {% for detail in details %}
    <img src="{{ detail.image_url }}" class="poster">
    <div class="text-panel">
        <p><b>Премьера в мире:</b> {{ detail.year }}</p>
        <p>{{ detail.desc }}</p>
    </div>
    {% endfor %}
</div>
<div class="bottom">
    <a class="link" href="{% url 'movies' %}">< К списку фильмов</a>
</div>
{% endblock %}