{% extends 'movies/index.html' %}

{% block title %}
Список фильмов
{% endblock %}

{% block body %}
<h1  class="mini-header">Список фильмов</h1>
<table>
    <tr class="table-head">
        <td>
            <b>
                #
            </b>  
        </td>
        <td>
            <b>
                Название
            </b>
        </td>
    </tr>
    {% for film in films %}
    <tr>
        <td>
            {{ film.id }}
        </td>
        <td>
            <a class="link" href="{% url 'details' film.id%}">{{ film.title }}</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}